.content {
  flex-grow: 1;
  padding: 32px;
  overflow-y: auto;
}
.layout {
  display: flex;
  height: 80vh;
  background-color: #f8f9fc;
}

app-sidebar {
  width: 240px;
  background-color: #1e293b;
  color: #fff;
  height: 100%;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: visible;
  margin-bottom: 24px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e2e8f0;
}

h2 {
  color: #1e293b;
}

.btn-add {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.btn-add:hover {
  background: #1d4ed8;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.table th,
.table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
}

.table th {
  background: #e5ebf4;
  color: black;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
}

.modal-content h3 {
  margin-bottom: 1rem;
}

.modal-content label {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #334155;
}

.modal-content input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.btn-save {
  background: #10b981;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  background: #ef4444;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.btn-add, .btn-edit , .btn-delete{
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 500;
}
.btn-add {
  background-color: #2563eb;
  color: white;
}


.btn-edit {
  background-color: #f59e0b;
  color: white;
}

.btn-add:hover {
  background-color: #1d4ed8;
}
.btn-edit:hover {
  background-color: #d97706;
}
.btn-delete {
  background-color: #dc3545;
  margin-left: 5px;
  color: white;
}
.form-group {
  max-width: 350px;
}

.form-label {
  color: #333;
}

.form-select {
  border: 1px solid #ccc;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
}


