.page-header {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url('https://img.freepik.com/free-photo/plain-smooth-green-wall-texture_53876-129746.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(132, 129, 129, 0.2);
  margin-bottom: 10px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(13, 4, 49, 0.75), rgba(197, 64, 7, 0.73));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .logo {
    height: 70px;
    width: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }

  .page-title {
    flex: 1;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    text-transform: capitalize;
    margin-right: 200px;
    letter-spacing: 1px;
    text-shadow: 0 2px 6px rgba(73, 68, 68, 0.5);
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 15px;

    .welcome {
      color: #ffffff;
      font-weight: 100;
      font-size: 18px;
      margin-right: 20px;
    }

    .link {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      font-weight: 500;
      transition: color 0.2s;
      margin-right: 100px;

      &:hover {
        color: #b9b7a9;
      }
    }
  }
}
