<div class="sidebar">
  <ul class="menu">
    <li><a routerLink="/user" routerLinkActive="active">User</a></li>
    <li><a routerLink="/bu" routerLinkActive="active">Business Units</a></li>
    <li><a routerLink="/project" routerLinkActive="active">Project</a></li>
    <li><a routerLink="/deliverable" routerLinkActive="active">Deliverable</a></li>
    <li><a routerLink="/tasks" routerLinkActive="active">Task</a></li>
    <li><a routerLink="/task_issue" routerLinkActive="active">Task Issue</a></li>
    <li><a routerLink="/daily_status_report" routerLinkActive="active">Daily Status Report</a></li>
  </ul>
</div>
