<div class="sidebar">
  <ul class="menu">
    <li><a routerLink="/employee" routerLinkActive="active">Employee</a></li>
    <li><a routerLink="/bu" routerLinkActive="active">BU</a></li>
    <li><a routerLink="/project" routerLinkActive="active">Project</a></li>
    <li><a routerLink="/deliverable" routerLinkActive="active">Deliverable</a></li>
    <li><a routerLink="/tasks" routerLinkActive="active">Task</a></li>
    <li><a routerLink="/task_issue" routerLinkActive="active">Issue</a></li>
    <li><a routerLink="/daily_status_report" routerLinkActive="active">Time Sheet</a></li>
  </ul>
</div>
