<app-page-header></app-page-header>

<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>Project</h2>
        <button class="btn-add" (click)="openAddForm()">+ Add New</button>
      </div>

      <div class="table-container">
        <table class="table">
          <thead>
          <tr>
<!--            <th>ID</th>-->
            <th>Business Unit</th>
            <th>Project Name</th>
            <th>Delivery Manager</th>
            <th>Project Description</th>
<!--            <th>Created Date</th>-->
            <th>Baseline Start Date</th>
            <th>Baseline End Date</th>
            <th>Planned to Start</th>
            <th>Planned to End</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.buId }}</td>
            <td>{{ project.name }}</td>
            <td>{{project.projectManager}}</td>
            <td>{{project.description}}</td>
            <td>{{ project.baselinestart }}</td>
            <td>{{ project.baselineend }}</td>
<!--            <td>{{ project.craetedat }}</td>-->
            <td>{{ project.plannedStart }}</td>
            <td>{{ project.plannedEnd }}</td>
            <td>
              <button class="btn-edit" (click)="editUser(project)">Edit</button>
              <button class="btn-delete" (click)="openDeletePopup(project)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Add New User Unit Form -->
    <div class="modal" *ngIf="showForm">
      <div class="modal-content">
        <h3>{{ editMode ? 'Edit Project' : 'Add New Prject' }}</h3>
        <form (ngSubmit)="saveUser()">

          <label>Project Name:</label>
          <input type="text" [(ngModel)]="newProject.name" name="fullname" required>

          <label>Project Description:</label>
          <input type="text" [(ngModel)]="newProject.description" name="fullname" required>

          <label>Business Unit:</label>
          <ng-select class="ngitem"
            [(ngModel)]="newProject.buId"
            [items]="buList"
                     name="buId"

            bindLabel="name"
            bindValue="name"
            [searchable]="true"
            ></ng-select>

          <label>Delivery Manager:</label>
          <ng-select class="ngitem"
            [(ngModel)]="newProject.projectManager"
            [items]="userList"
            name="projectManager"
            bindLabel="fullname"
            bindValue="fullname"
            [searchable]="true"
            >
          </ng-select>

<!--          <label>Baseline start date:</label>-->
<!--          <input type="date" [(ngModel)]="newProject.baselinestart" name="baselinestartdate" required >-->

<!--          <label>Baseline End date:</label>-->
<!--          <input type="date" [(ngModel)]="newProject.baselineend" name="baselineenddate" required >-->

          <label>Plan Start Date:</label>
          <input type="date" [(ngModel)]="newProject.plannedStart" name="plantostartdate" required >

          <label>Plan End Date:</label>
          <input type="date" [(ngModel)]="newProject.plannedEnd" name="plantoenddate" required>

          <div class="form-buttons">
            <button type="submit" class="btn-save">
              {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn-cancel" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal" *ngIf="showDeletePopup">
      <div class="modal-content">
        <h3>Delete Business Unit</h3>
        <p>Are you sure you want to delete <strong>{{ selectedProject?.id }}</strong>?</p>
        <div class="form-buttons">
          <button class="btn-delete" (click)="confirmDelete()">Yes, Delete</button>
          <button class="btn-cancel" (click)="cancelDelete()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
